services:
  db:
    image: postgres:16
    container_name: postgres-db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: spring-app
    env_file:
      - .env
    ports:
      - "${APP_PORT}:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      SPRING_PROFILES_ACTIVE: docker
      SERVER_PORT: 8080
      # Use these exact keys so Spring Boot maps them to @Value("${app.jwtSecret}")
      APP_JWTSECRET: ${APP_JWT_SECRET}
      APP_JWTEXPIRATIONINMS: ${APP_JWT_EXPIRATION}
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata:
